<!doctype html>
<html lang="en">
	<head>
		
		


		<link rel="icon" href="../static/img/ai.ico">
		<title>Home</title>
	<!--  -->
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	</head>
	

	<body>
	<style>
    #main-footer
    {
      color: black;
      font-family: "Segoe UI";
      background: white;
      text-align: center;
      margin-top: 218px;
      padding: 16px;
      bottom: 8px;
    }

#topHeader
{
    border-bottom: 1px solid #ebebeb;
}

#topHeader a
{
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}

.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}

nav ul li a
{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    padding: 5px;
}

/* footer start */

.full-footer
{
    background-color: white;
    
   
    
}
.Services
{
    background-color: rgb(187, 132, 155);

}

.top-footer a
{
    font-weight: 500;
    
}
.col1 p
{
    font-weight: 650;
}
.col2 a
{
    color: black;

}
.col3 a
{
    color: black;

}
.col4 a
{
    color: black;

}
.bottom-footer
{
    background-color: black;
       
}
.bottom-footer p
{
    font-weight: 700;
    color: white;
    height: 10px;
}

/* footer end */

/* Homepage Start first hero section */
.top-head-section
{
    background-color: #bdc3c7;
}
/* Homepage End first hero section */

/* requirements sec start */
.requirements-sec
{
    background-color: #bdc3c7 ;
}
/* requirements sec end */

.newsletter
{
    background-color:#bdc3c7 ;
}
.newsletter .form-control
{
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.newsletter .btn
{
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: rgb(101, 75, 143) ;
    color: white;
}
  
  </style>
 	<!-- Header Start-->
    <header>
        <!--<div id="topHeader">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="tel:+916374348815"> <i class="fas fa-phone-square-alt"></i> +916374348815</a>
                        <a href="mailto:dhana.ai@gmail.com"> <i class="fas fa-envelope-square"></i> creatorslab@gmail.com</a>

                    </div>
                </div>
            </div>
        </div>-->
        <div id="bottomHeader">
            <div class="container-fluid">
                <nav class="navbar navbar-dark navbar-expand-md" style="background-color: #bdc3c7 ;">
                	<a  href="/" style="color: black; font-weight:bold; font-size: 1.1rem; ">Home</a>
                    <!-- <a href="" class="navbar-brand">
                        <img src="..static/sources/ai.png" height="40" width="150px" alt="">
                    </a> -->
                    <button data-toggle="collapse" data-target="#navbarToggler" type ="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/BreastCancer" style="color: black; font-weight: bold;">Cancer</a>
                        </li>

                        

                        <li class="nav-item">
                            <a class="nav-link" href="/Diabetes" style="color: black; font-weight: bold;">Diabetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Heart" style="color: black; font-weight: bold;">Heart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Kidney" style="color: black; font-weight: bold;">Kidney</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Liver
                            " style="color: black; font-weight: bold;">Liver</a>
                        </li>
                    </div>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header End-->

<!-- 		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="/">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/Heart">Heart<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/Kidney">Kidney</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/Diabetes">Diabetes</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/Liver">Liver</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/BreastCancer">Breast Cancer</a>
						</li>
					</ul>
				</div>
			</nav>
		</header> -->
		<main role="main">
		<section>
	        <div class="container-fluid">
	            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	                <ol class="carousel-indicators">
	                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	                </ol>
	                <div class="carousel-inner">
	                  <div class="carousel-item active">
	                    <img src="../static/slide/ai-slide.jpg" height="500px" class="d-block w-100" alt="...">
	                  </div>
	                  <div class="carousel-item">
	                    <img src="../static/slide/ai-slide1.jpg" height="500px" class="d-block w-100" alt="...">
	                  </div>
	                  <div class="carousel-item">
	                    <img src="../static/slide/ai-slide2.jpg" height="500px" class="d-block w-100" alt="...">
	                  </div>
	                </div>
	                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                  <span class="sr-only">Previous</span>
	                </a>
	                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                  <span class="sr-only">Next</span>
	                </a>
	              </div>
	        </div>
    </section>
    <br>
	<br>
	<section class="pt-3 pt-5">
        
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Why You Should Choose Us!?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/call-center.png" width="200px" alt="">
                    <h5>24 x 7 Support</h5>
                    <p>Happy to Help for your Requirements</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/cyber-security.png" width="200px" alt="">
                    <h5>High Security</h5>
                    <p>Secure From Cyber attacks</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/fast-delivery.png" width="200px" alt="">
                    <h5>Fast Delivery</h5>
                    <p>Delivery for your familier time</p>

                </div>

                
                

            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/finger-print.png" width="200px" alt="">
                    <h5>Quick Access</h5>
                    <p>Anytime and Anywhere quick access our products</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/money-bag.png" width="200px" alt="">
                    <h5>Value of Money</h5>
                    <p>We are more considered your money to save</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/quality.png" width="200px" alt="">
                    <h5>Quality Assurance</h5>
                    <p>We will give 100% quality assurance for our product</p>

                </div>

            </div>
        </div>
    </section>
     <!-- Start : requirements -->
    <section class="requirements-sec p-2 pt-md-3 pb-md-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9 text-center">
                    <h3>Do you have Any Requirements!? We can do it for you..</h3>

                </div>
                <div class="col-md-3 text-center">
                    <button class="btn btn-lg btn-primary">Click Here</button>

                </div>
            </div>
        </div>
    </section>
    <!-- end : requirements -->
	<!-- start: about-->
    <section class="p-2 pt-md-4 pb-md-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>About AI Solutions</h2>
                    <h6>Intel Corp released its latest processor that will be the first to use AI and 
                        design for large computing centers. The AI chip is developed 
                        at Intel’s development facility in Haifa, Israel. 
                        It is known as Nervana NNP-I or Springhill and is based on a 10 nanometre Ice Lake processor.
                         This processor will allow the chip to cope with high workloads using less energy.</h6>
                    <button class="btn btn-lg btn-primary">Read More</button>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-fluid p-5" src="../static/slide/brain1.png" width="400px" height="250px" alt="">

                </div>
            </div>
        </div>
    </section>
    <!-- end : about-->
    <!-- newsletter start-->

    <section class="newsletter p-2">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>
                        Subscribe Newsletter
                    </h3>
                    <div class="input-group pb-3">
                        <input type="email" class="form-control" placeholder="Enter Your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--newsletter end-->

    <!--Start Services-->

    <section class="pt-3 pt-5">
        
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Our Services</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/machine-learning.png" width="200px" alt="">
                    <h5>Machine Learning</h5>
                    <p>We solve your requirements mathematically</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/neural.png" width="200px" alt="">
                    <h5>Deep Learning</h5>
                    <p>Solve your requirements using Neural Network</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/natural-language-processing.png" width="200px" alt="">
                    <h5>NLP</h5>
                    <p>Build Chatbots for your New Startup</p>

                </div>

                
                

            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/robot.png" width="200px" alt="">
                    <h5>Robotics</h5>
                    <p>Drive Self Driving Cars and Remote Cars</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/internet-of-things.png" width="200px" alt="">
                    <h5>IOT</h5>
                    <p>Provide Quality Home Automations</p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5" src="../static/sources/improvement.png" width="200px" alt="">
                    <h5>Web Development</h5>
                    <p>We have best web designs for your Company</p>

                </div>

            </div>
        </div>
    </section>
    <br>
    <br>

    <!--End Services-->

    <!-- Footer Start-->
    <footer class="full-footer">
        <div class="container top-footer p-md-2 p-1">
            <div class="row">

                <div class="col-md-3 col1 pl-4 pr-4">
                   <img class="img-fluid" src="../static/sources/ai-logo.jpg" height="110px" 
                    width="150px" alt="">
                    
                   
                    <a style="color: cornflowerblue;" class="p-1" target="blank" href="https://t.me/ai_professor"><i class="fab fa-2x fa-telegram"></i></a>
                    <a style="color: rgb(31, 99, 226);" class="p-1" target="blank" href="https://twitter.com/aiprofessor_"><i class="fab fa-2x fa-twitter-square"></i></a>
                    <a style="color: rgb(219, 44, 88);" class="p-1" target="blank" href="https://www.instagram.com/aiprofessor_/"><i class="fab fa-2x fa-instagram"></i></a>
                </div>

                <div class="col-md-3 col2 pl-4 pr-4">
                    <h3>Important Links</h3>

                    <a href="#">Policy</a><br>
                    <a href="#">Blogs</a><br>
                    <a href="#">Social links</a>
                </div>

                <div class="col-md-3 col3 pl-4 pr-4">
                    <h3>Our Services</h3>
                    <a href="ml.html">Machine Learning</a><br>
                    <a href="dl.html">Deep Learning</a><br>
                    <a href="nlp.html">NLP</a><br>
                    <a href="web.html">Web  Development</a><br>
                </div>

                <div class="col-md-3 col4 pl-4 pr-4">
                    <h3>Contact</h3>
                    <a href="tell:+916374348815"><i class="fas fa-phone-square-alt"></i> +916374348815</a><br>
                    <a href="mailto:creatorslab.ma@gmail.com"><i class="fas fa-envelope-square"></i> creatorslab.ma@gmail.com</a><br>
                    <div class="embed-responsive embed-responsive-16by9">
                    <!--<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15630.0604822925!2d78.17838281934598!3d11.657859932790489!2m3!1f0!2f0!3f0!3m2!1i102
                4!2i768!4f13.1!3m3!1m2!1s0x3babf1ef04c4fb39%3A0x37b6fa63042dafff!2sSalem%2C%20Tamil%20Nadu%20636003!5e0!3m2!1sen!2sin!4v1624538666522!5m2!1sen!2sin"  
                frameborder="0"></iframe>-->
                </div>
                
            

                </div>
            </div>
        </div>
        
        <div class="container-fluid bottom-footer p-1">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Copyright &copy; Developed by dhana.ai 2021</p>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer End-->
							
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
	</body>
</html>